{% extends 'base.html' %}

{% block title %}
  Elon Musk Tweet Classifier
{% endblock %}

{% block content %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Elon Musk Tweet Classifier</h1>
        <p class="lead">Click button to see which Tweets are risky or just frisky.</p>
        <a href = 'https://github.com/mono2010/Elon-Musk-Tweet-Classifier' target="_blank">Learn More About This Project</a>
        <br>
        <form action="/analyze">
          <p><button type="submit">Analyze Tweet</button></p>
        </form>

        <h2>Tweet:</h2>
        <h6>{{twitter}}</h6>
        <h2>Risk Score:</h2>
        <h5>{{scores}}</h5>
        <img src = "{{url_for('static', filename = 'images/risky.jpg')}}", style= "width:300px;height:400;border:1">


        </ul>
      </div>
    </div>
  </div>

  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}